<a href="https://colab.research.google.com/github/Rohuul/Python-Programing/blob/main/week2_problem_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = -5
c = a + b
print(c)

5

In [ ]:
pi= 3.1416
radius= 5
area= pi* radius*2
print(area)

31.416

In [ ]:
name= "Rohul"
print (f"Hello {name}")

Hello Rohul

In [ ]:
result = None
if result is None:
  print("No result available.")

No result available.

In [ ]:
is_valid = True
if is_valid:
  print("The data is valid.")

The data is valid.

In [ ]:
text = "Python Programming"
first_letter = text[0]
substring = text[7:18]

print(first_letter)
print(substring )

P
Programming

In [ ]:
from os import replace
txt = "Hello world"
upper_text = txt.upper()
replace_text= txt.replace("world","python")

print(txt)
print(upper_text)
print(replace_text)

Hello world
HELLO WORLD
Hello python

In [ ]:
fruits= ["Apple","Banana","cherry"]
first_fruits= fruits[0]

print(first_fruits)

fruits.append("Orange")
fruits.remove("Banana")
print(fruits)

Apple
['Apple', 'cherry', 'Orange']

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
Cubes = [x**3 for x in range (5)]
print(Cubes)

[0, 1, 8, 27, 64]

1. List Manipulation: Create a list of your favorite five movies. Write a program to:
• Print the second movie in the list.
• Add a new movie to the end of the list.
• Remove the first movie from the list and print the updated list.

In [ ]:
lst = ["3 Idiots", "pk", "veer zara"]
Second_lst = lst[1]
print(Second_lst)

lst.append("Kaal Ho Na Ho")
print(lst)

lst.remove("3 Idiots")
print(lst)

pk
['3 Idiots', 'pk', 'veer zara', 'Kaal Ho Na Ho']
['pk', 'veer zara', 'Kaal Ho Na Ho']

2. Dictionary Operations: Write a program to create a dictionary that stores information about a book (title,
author, year, and genre). Then:
• Print the title of the book.
• Update the year to the current year and print the updated dictionary.

In [ ]:
book = {
    "title" : "Python Programing",
    "author" : "Rohul Amin",
    "year" : 2020,
    "genre" : "Educational"

}

print("Title of Book: ", book["title"])

Title of Book:  Python Programing

3. Tuple Unpacking: Create a tuple with three different data types (e.g., string, integer, float). Write a program
that:
• Unpacks the tuple into three variables and prints each variable separately.